.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* esercizio */
@media screen and (max-width: 419px) {

  .row{
    width: 80%;
    /* debug */
    background: red;
    /* fine debug */
    font-size: 5vh;
  }

  img{
    height: 100px;
  }

  /* font dei titoli */
  h1{
    font-size: 10vh;
  }

  h3{
    font-size: 6vh;
  }

  /* regole lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }

  #lezioni .row img {
    width: 100px;
    height: auto;
  }

  /* regole blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }

  /* regole perche */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }

  #why .row img {
    padding: 3px;
  }
}

/* bonus */
@media screen and (min-width: 420px) and (max-width: 799px){

  .row{
    width: 100%;
    /* debug */
    background: blue;
    /* fine debug */
    font-size: 5vh;
  }

  img{
    height: 200px;
  }

  /* font dei titoli */
  h1{
    font-size: 12vh;
  }

  h3{
    font-size: 8vh;
  }

  /* regole lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%;
    /* debug
    border: 1px solid black;
    /* fine debug */
    margin-bottom: 100px;
  }

  #lezioni .row img {
    width: 200px;
    height: auto;
  }

  /* regole blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 100px;
  }

  #why .row img {
    padding: 9px;
  }
}
